<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1> <center><b><span class="badge badge-primary">mca@ snit college</span> </b>  </center> </h1>
    <h2><center><span class="badge badge-primary">login</span></center></h2>
    <table class="table" >

        <tr><td>user_name</td><td><input type="text"></td></tr>
        <tr><td>password</td><td><input type="text"></td></tr>
        <tr><td><center><input type="submit" name="submit" id="" class="btn btn-danger"></center></td></tr>
        
    </table>
    
   
</body>
</html>